.startPage-container,
.title-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.startPage-container {
  margin: auto;
  width: 25rem;
  height: 100svh;
}
.title-logo {
  margin-top: 2rem;
  height: 9rem;
}
.startPage-container h1 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 2px;
  color: var(--white);
}
.deer-icon {
  color: var(--yellow);
  font-size: 4rem;
}
