.app {
  display: flex;
  flex-direction: column;
  height: 100svh;
  max-width: 50rem;
  margin: auto;
  position: relative;
  border-left: 1px solid var(--green);
  border-right: 1px solid var(--green);
}
.page-container {
  height: 93%;
  padding: 0.5rem;
}
