* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nata Sans", sans-serif;
}
:root {
  --darkgreen: #141516;
  --green: #252930;
  --yellow: #3c9b8e;
  --white: #fffff0d7;
  --blue: #4bb1b6cc;
  --red: #bd4543e3;
}
body {
  background: var(--darkgreen);
}
button {
  cursor: pointer;
}

.loading {
  margin: 8rem auto 0;
  width: fit-content;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  color: var(--yellow);
}
@media (max-width: 600px) {
  .loading {
    font-size: 3rem;
  }
}
