* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nata Sans", sans-serif;
}
:root {
  --darkgreen: #222831;
  --green: #31363f;
  --yellow: #a27b5c;
  --white: #fffff0;
  --blue: #4bb0b6;
  --red: #bd4543;
}
body {
  background: var(--darkgreen);
}
button {
  cursor: pointer;
}

.loading {
  margin: 8rem auto 0;
  width: fit-content;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
  color: var(--yellow);
}
@media (max-width: 600px) {
  .loading {
    font-size: 3rem;
  }
}
