/*HOME*/
.home-posts-container {
  height: 100%;
  border-radius: 5px;
  overflow-y: scroll;
}
/* .home-posts-container.no-scroll {
  overflow-y: hidden;
} */
.refreshBtn {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 1rem;
  border: none;
  border-radius: 2px;
  background: var(--bg-light);
  color: var(--text);
  border: 1px solid var(--border);
  width: fit-content;
  font-size: 1.5rem;
  z-index: 2;
}
@media (hover: hover) {
  .refreshBtn:hover {
    background: var(--gradient);
  }
}

.deer-icon-home {
  display: block;
  margin: 1rem auto;
  color: var(--yellow);
  font-size: 4rem;
}
.allPosts-list {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 0.75rem;
  list-style-type: none;
}
.post-and-comments {
  display: flex;
  flex-direction: column;
  background: var(--gradient);
  padding: 0.5rem;
  border-radius: 5px;
  transition: 0.25s;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}
.post-and-comments.blur {
  filter: blur(2px);
  pointer-events: none;
  user-select: none;
  transition: 0.25s;
}
.profilePic-author {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}
.home-profilePic {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  overflow: hidden;
}
.home-profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profilePic-icon-home {
  background: var(--bg-dark);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--bg-light);
}

.post-and-comments h3 {
  font-size: 1.5rem;
  color: var(--yellow);
  margin-bottom: 0.5rem;
  font-weight: 300;
}
.allPosts-list li {
  display: flex;
  flex-direction: column;
  white-space: pre-wrap; /* para respetar nuevas lineas en posteos*/
  word-wrap: break-word; /* For older browsers para quebrar string*/
  overflow-wrap: break-word; /* para quebrar el string si es muy largo*/
  color: var(--text);
}

.allPosts-list-buttons {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}
.arrow-button,
.like-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: var(--text);
  font-size: 1.75rem;
  cursor: pointer;
  margin: 0.75rem 0 0;
}
.arrow-button.not-active {
  transition: 0.25s;
}
.arrow-button.active {
  transition: 0.25s;
  transform: rotate(-180deg);
}
.like-button.liked {
  color: var(--red);
  animation: wiggle 0.3s ease-in-out;
}
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.post-comments-section {
  display: flex;
  flex-direction: column;
  max-height: 60svh;
  width: 95%;
  margin: 1rem auto 0;
}
.post-comments-section h4 {
  color: var(--yellow);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.comments-container {
  overflow-y: scroll;
}
.no-comments-made {
  color: var(--white);
}
.comment-container {
  border-bottom: 1px solid rgba(197, 197, 197, 0.281);
  padding: 0.5rem 0;
}
.comment-container h5 {
  color: var(--yellow);
}

.post-comments-section button {
  width: fit-content;
  margin: 1.5rem auto 0;
  padding: 0 2rem 0.125rem;
  border: none;
  border-radius: 5px;
  font-size: 1.25rem;
  background: var(--blue);
  color: var(--darkgreen);
}
@media (hover: hover) {
  .post-comments-section button:hover {
    background: var(--blue-gradient);
  }
}

.comments-container::-webkit-scrollbar,
.comment-form-container form textarea::-webkit-scrollbar {
  display: none; /*CHROME SAFARI OPERA*/
}
.comments-container,
.comment-form-container form textarea {
  -ms-overflow-style: none; /*MOZILLA*/
  scrollbar-width: none; /*EXPORER EDGE*/
}

/*FORM TO MAKE COMMENT*/
.comment-form-container {
  background: var(--bg);
  border: 2px solid var(--yellow);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: fixed;
  width: 49rem;
  padding: 0.75rem;
  bottom: -60rem;
  transition: 400ms ease-out;
  z-index: 2;
}
.comment-form-container.active {
  bottom: 0;
  transition: 400ms ease-out;
  position: absolute;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.close-form-button {
  display: flex;
  background: none;
  border: none;
  color: var(--text);
  font-size: 2rem;
  width: fit-content;
  margin-left: auto;
}

.comment-form label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.comment-form textarea {
  display: flex;
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  background: var(--bg-light);
  color: var(--text);
  resize: none;
}

.comment-form textarea:focus-visible {
  outline: 1px solid var(--text);
}

.comment-form button {
  display: flex;
  align-items: center;
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
  margin-left: auto;
  padding: 0 2rem 0.25rem;
  color: var(--darkgreen);
  background: var(--yellow);
  cursor: pointer;
}

.home-posts-container::-webkit-scrollbar {
  display: none; /*CHROME SAFARI OPERA*/
}
.home-posts-container {
  -ms-overflow-style: none; /*MOZILLA*/
  scrollbar-width: none; /*EXPORER EDGE*/
}

@media (max-width: 600px) {
  .deer-icon-home {
    margin: 1rem auto;

    font-size: 3.5rem;
  }
  .post-and-comments h3 {
    font-size: 1.25rem;
    color: var(--yellow);
    margin-bottom: 0.5rem;
    font-weight: 300;
  }
  .comment-form textarea {
    font-size: 1rem;
  }
  .comment-form button {
    font-size: 1rem;
  }
}
@media (max-width: 49rem) {
  .comment-form-container {
    width: 97svw; /* full viewport width */
    margin: 0; /* remove centering */
  }
}
